*.pyc
__pycache__/
*.pyo
*.pyd

.env
.env.*

.DS_Store
Thumbs.db
ehthumbs.db

.idea/
.vscode/

*.log

# Python venv
it_backend/venv/
venv/
.venv/

# Django runtime
it_backend/media/
media/
staticfiles/

# Node
vite-project/node_modules/
node_modules/
vite-project/dist/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

